
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/font-awesome/scss/font-awesome.scss";
// Vue Croppa
@import "~vue-croppa/dist/vue-croppa.css";

html, body{
  height: 100%;
}

#app {
  position: relative;
  height: auto;
  min-height: 100% !important;
}

.navbar {
  &-laravel{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  &-citivote{
    background-color: #002d71;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
}

.bg-blur {
  background-image: url(/images/bg_blur.png) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}

.bg-login {
  background-image: url(/images/bg_clear.png) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;

  .left-top {
    position: absolute;
    top: 15%;
  }

  .left-bottom {
    position: absolute;
    bottom: 0;
  }

  .login-box {
    margin-top: 25%;
    background: #e6e8e7;
  }

  .has-danger {
    input {
      border-color: #d9534f !important;
    }
  }

  input[type="text"] {
    height: 40px;
    border: 1px black solid;
    background: transparent;
  }
}

.blue-panel {
  background: rgba(0, 45, 113, 0.7);
}

.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  &-header {
    background: #002d71;
    color: white;
    font-weight: bold;
  }
}

.vote-category-box {
  background: #e7e2e8;
}

.candidate-box {
  button {
    border: none;
    outline:none;
    font-weight: bold;

    &.active {
      background: #c7007d !important;
    }
    &:hover{
      background: #c7007d;
    }
    &:active{
      outline:none;
    }
    &:focus{
      outline:none;
    }
  }

  h6 {
    min-height: 85px;
  }
}

.btn-purple {
  border: none;
  outline:none;
  font-weight: bold;
  background: #c7007d !important;
}

.text-purple {
  color: #c7007e !important;
}
.text-blue {
  color: #1c437e !important;
}

.overlay{
  top: 0;
  min-height: 100%;
  position: absolute;
  background-color: rgba(107, 141, 178, 0.5);
}

.modal-box {
  position: fixed;
  background: #e6e8e7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .blue-line {
    top: 0;
    left: 0;
    height: 130px;
    position: absolute;
    background-color: #31548a;
    width: 100%;
    z-index: -1;
  }
}

.progress{
  background: #048be5;
  &-bar{
    background: #02bdf2;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 200;
  // start
  .spinner {
    background: #000
      url(/images/myna/ajax-loader.gif) 0 0
      no-repeat;
    border: 0;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    box-shadow: 0 1px 1px -1px #fff;
    display: block;
    height: 46px;
    left: 50%;
    margin: -23px 0 0 -23px;
    opacity: 0.18;
    overflow: hidden;
    padding: 1px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 46px;
    z-index: 9999;
  }
  // end
}

#myna {
  .logo {
    position: absolute;
    z-index: 3;

    &-bg1 {
      position: absolute;
      z-index: 2;
      width: 275px;
      height: 55px;
      background-color: #008ec8;
    }

    &-bg2 {
      width: 400px;
      height: 20px;
      position: absolute;
      background-color: #25a5d9;
    }
  }

  .navbar {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  .border-nav-top {
    height: 16px;
    background-color: #46b6e5;
    border-left: 20px solid #002a54;
  }

  .login-box {
    margin-top: 8% !important;
  }

  .subtitle-header {
    width: 50%;
  }

  &.bg-fill {
    background-position: center center;
  	background-repeat:  no-repeat;
  	background-attachment: fixed;
  	background-size:  cover;
  	background-color: #999;
  }

  &.bg-login {
    background-image: url(/images/myna/bg-login.png) ;
  }

  &.bg-upload {
    background-image: url(/images/myna/bg-upload.png) ;
  }

  &.bg-confirmation {
    background-image: url(/images/myna/bg-confirmation.png) ;
  }

  &.bg-reconfirm {
    background-image: url(/images/myna/bg-reconfirm.png) ;
  }

  &.bg-done {
    background-image: url(/images/myna/bg-done.png) ;
  }

  .upload-box {
    width: 280px;
    margin: 0 auto;
    margin-top: 0px;
    background-color: white;

    -webkit-box-shadow: -1px 2px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 22px 0px rgba(0,0,0,0.75);

    button {
      width: 250px;
    }
  }

  select[name="category"] {
    width: 280px;
    margin: 0 auto;
    -webkit-appearance: none;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    background-position-x: 254px;
  }

  .frame-panel {
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 30px;
    background-color: #ddd;
    width: 80%;

    a.active {
      img {
        border: 3px solid #ff8e2e;
      }
    }
  }

  .login-container {
    margin-top: 50px;
  }

  img.active {
    border: 3px solid #ff8e2e;
  }

  .confirmation-panel {
    width: 300px;
    margin: 0 auto;
  }

  #logout {
    position: absolute;
    right: 0;
    top: 15px;
  }
}

// media screen
@media only screen and (max-width: 414px) {
  .bg-login {
    #app {
      height: auto !important;
    }

    .left-top {
      padding: 1rem !important;
      position: inherit;
      text-align: center;

      h1, h6 {
        display: none;
      }
    }

    .left-bottom {
      position: inherit;
      padding: 1rem !important;
      text-align: center;
    }

    .login-box {
      margin-top: 0;
      padding: 1.5rem !important;
    }
  }

  .candidate-box {
    h5 {
      margin-top: 45px;
    }

    h6 {
      min-height: auto;
    }

    button:active, button:hover {
      color: #fff;
      background-color: #2176bd;
      outline: none;
    }
  }

  .navbar-toggler {
    display: none;
  }

  #logout {
    position: absolute;
    right: 0;

    i {
        font-size: 2em;
    }
  }

  .navbar-brand {
    padding-top: 0;
    img {
      width: 60%
    }
  }

  #myna {
    .logo {
      width: 33%;

      &-bg1 {
        width: 46%;
        height: 40px;
      }

      &-bg2 {
        width: 60%;
        height: 12px;
      }
    }

    .border-nav-top {
      height: 8px;
    }

    .row.main-container {
      margin-top: 95px;
    }

    .subtitle-header {
      width: 100%;
    }

    .login-container {
      margin-top: auto;
    }
  }
}
// end media screen
